
body {
    padding: 0px;
    margin: 0px;
    background-color: #E7DED0;
    font-family: Alumni Sans, sans-serif;
    color: #301f17;
}

header {
    background-color: #8f664a;
    padding: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
header1 {
    background-color: #8f664a;
    padding:5px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

nav {
    padding: 20px;
    margin-top: 24px;
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}


.img {
    display: felx;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

#Karte {
    align-items: right;
}

#Coverblatt1 {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #Coverblatt1 {
        height: 600px;
    }
}

.image {
    margin: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 0 20px;
}

nav ul li a {
    color: #301f17;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
    color: #c5a787;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }

    nav.active ul {
        display: flex;
    }

    .burger {
        display: block;
    }

    .logo {
        display: inline-block;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bottom {
    padding: 20px;
    margin-top: 24px;
    font-size: 20px;
    background-color: #8f664a;
    padding: 80px;
    margin-top: 24px;
}

.back-button {
    display: inline-block;
    background-color: #E7DED0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.back-button:hover {
    background-color: #fff;
    color: #rosybrown;
    border: 2px solid #white;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slideshow {
    display: flex;
    width: 100%;
    animation: slide 40s infinite;
}

.slideshow img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    12.5% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    37.5% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    62.5% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    87.5% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.dot-container {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #63402c;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #717171;
}


main {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #8f664a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ac8764;
}